{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- START PAGE BANNER AND BREADCRUMBS -->
<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>About {{site_name}}</h2>
							<p>Helping you invest in cryptocurrency at very reduced risk</p>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">About us</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->

	<!-- START PROMO SECTION -->
    <section id="promo" class="section-padding bg-gray" style="padding-top:0px">
			<div class="container">
				<div class="row">
						<div class="col-lg-6 col-md-6 col-12" style="padding:20px">
								<div class="row">
									<div class="col-12 text-center">
										<div class="section-title-2">
											<h3>About <span>{{site_name}}</span></h3>
										</div>
									</div>
								</div>
								<!-- end section title -->
								<div class="image-style-1 mb-4" >
									<div class="image-style-wrapper">
								
										<div class="image-two">
											<img src="{% static 'assets/img/bg/promobg1.jpg' %}" class="img-fluid" alt="">
										</div>
									</div>
								</div>
								
								<div class="promo-content">
									<h4>Who We are ?</h4>
									<p><b>{{site_name}} investment</b> is a cryptocurrency investment andtrading company ,with very skilled experts who always present near perfect market analysis that always ensure your investments are traded on high yield,high liquidity and potent tokens.{{site_name}} handles all the hastle and difficulty in analyzing coin markets allowing you invest in crypto currency trading at the lowest posible risk.</p>
									<!--a href="{% url 'about-us' %}" class="btn-style btn-filled mt-3">Read More <i class="icofont icofont-caret-right"></i></a->
									<div class="signature-img float-lg-right float-md-right float-none mt-3"><img src="{% static 'assets/img/bg/signature.png' %}" class="img-fluid" alt=""></div-->
								</div>	
							</div>
					
					<div class="col-lg-6 col-md-6 col-12" style="padding-left:30px;padding:20px">
						<div class="row">
							<div class="col-12 text-right">
								<div class="section-title-2">
								
								</div>
							</div>
						</div>
						<!-- end section title -->
						<div class="promo-content" style="padding-bottom:30px;padding-top:30px">
							<h4>What we do </h4>
							<p><b>At {{site_name}}</b>, we know how important profit is to you,our group of experts constantly analyze several coins on the go,to spot  high liquidity and high profit tokens,your investments are 
								traded on this tokens and the profit is credited to you.
								We keep a little fraction as our running cost</p>
							<!--a href="#" class="btn-style btn-filled mt-3">Read More <i class="icofont icofont-caret-right"></i></a->
							<div class="signature-img float-lg-right float-md-right float-none mt-3"><img src="{% static 'assets/img/bg/signature.png' %}" class="img-fluid" alt=""></div-->
						</div>	
						
						<div class="promo-content">
							<h4>What we do </h4>
							<p><b>At {{site_name}}</b>, we know how important profit is to you,our group of experts constantly analyze several coins on the go,to spot  high liquidity and high profit tokens,your investments are 
								traded on this tokens and the profit is credited to you.
								We keep a little fraction as our running cost</p>
							<!--a href="#" class="btn-style btn-filled mt-3">Read More <i class="icofont icofont-caret-right"></i></a->
							<div class="signature-img float-lg-right float-md-right float-none mt-3"><img src="{% static 'assets/img/bg/signature.png' %}" class="img-fluid" alt=""></div-->
						</div>	
					</div>
					<!-- end col -->				
				</div>
			</div>
			<!--- END CONTAINER -->
		</section>
		<!-- END PROMO SECTION --> 
    
{% endblock %}