{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- START PAGE BANNER AND BREADCRUMBS -->
<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>Get In Touch</h2>
							<p>Our support staff is already ready to make your life easier</p>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Contact Us</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
	<!-- END PAGE BANNER AND BREADCRUMBS -->
	
	<!-- START CONTACT SECTION -->
    <section id="contactpage" class="section-padding">
        <div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title">
						<h5>we respond with in minute</h5>
						<h3>Contact <span>{{site_name}}</span></h3>
					</div>
				</div>
			</div>
			<!-- end section title -->
			<div class="row text-center" style="padding-top:0px;padding-bottom:0px">
				<div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-address">
						<div class="single-address-icon">
							<i class="far fa-envelope-open"></i>
						</div>
						<div class="single-address-dec">
							<h4>Write a mail</h4>
							<p>Email: {{site_email}}</p>
						
						</div>
						<div class="single-address-link">
							<a href="mailto:{{site_email}}">quick Send</a>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-address">
						<div class="single-address-icon">
							<i class="icofont icofont-phone-circle"></i>
						</div>
						<div class="single-address-dec">
							<h4>Give a call</h4>
							<p>{{site_phone}}</p>
						
						</div>
						<div class="single-address-link">
							<a href="tel:{{site_phone}}">quick call</a>
						</div>
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-address">
						<div class="single-address-icon">
							<i class="far fa-address-card"></i>
						</div>
						<div class="single-address-dec">
							<h4>Visit our location</h4>
							<p>{{site_address}}</p>
						</div>
						<!--div class="single-address-link">
							<a href="#">find Direction</a>
						</div-->
					</div>
				</div>
				<!-- end col -->
				<div class="col-lg-3 col-md-3 col-12 mb-lg-0 mb-md-0 mb-5">
					<div class="single-address">
						<div class="single-address-icon">
							<i class="fab fa-rocketchat"></i>
						</div>
						<div class="single-address-dec">
							<h4>Lets's have a chat</h4>
							<p>whatsaap: {{site_whatsapp_no}}</p>
							
						</div>
						<div class="single-address-link">
							<a href="https://wa.me/{{site_whatsapp_no}}">click here</a>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->

			<div class="row" style="padding : 0px 20px 20px 0px">
				<div class="col-12 text-center">
					<div class="section-title-2">
						<h3>Send Us Message</h3>
					</div>
				</div>
				<div class="col-lg-7 mx-auto">
					<div class="contact-form-wrapper">
						<div id="contact-form-div" class="contact-form">
							<form id="contact-form" class="form" method="POST" action="">
								  {% csrf_token %}
								  {{form|crispy}}
								  <div class="form-group col-lg-12 mb-0 text-center">
									<div class="actions">
										<input value="Submit Message" name="submit" id="submitButton" class="btn btn-contact-bg" title="Click here to submit your message!" type="submit">
										<img id="loading-button" hidden="" src="{% static 'assets/img/ajax-loader.gif' %}" width="16" height="16">
									</div>
								</div>
							</form>								
						</div>
					</div>
				</div>
			</div>
			<!-- end row -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END CONTACT SECTION -->
	
	<!-- GOOGLE MAP ->
	<div class="gmap_canvas">
		<iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Bardstown%20Road%2C%20Louisville&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
	</div>
    <!-- END GOOGLE MAP -->
    {% endblock %}

	{% block js %}
	<script> 
        $("#contact-form-div").on('submit',function(event){
            event.preventDefault();
            $("#submitButton").hide()
			$("#loading-button").removeAttr("hidden")
			var form  = $("#contact-form");
			$.ajax({
				type:"POST",
				url : form.attr('action'),
				data : form.serialize(),
				dataType : 'json',
				success : function(data){
                 if(data.success){
                    $("#submitButton").attr("value","Sent!")
					$("#loading-button").attr("hidden","")
					$("#submitButton").show()
                   
					$("#modal-pop-up-box #pop-up-modal-body").html('<p style="color:black">Your email has been sent successfully</p>');	
					$("#modal-pop-up-box").modal("show");
				}
				 
				 else if(data.error){
					 
                    
					$("#modal-pop-up-box #pop-up-modal-heading").html('Error !')	
					$("#modal-pop-up-box  #pop-up-modal-body").html(data.error);
                    $("#submitButton").html("send message");
					$("#modal-pop-up-box").modal("show");
                    //$("#modal-pop-up-box .close").trigger("click");
				 }
				}
			
        });
    });
    </script> 

	{% endblock %}