{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- START PAGE BANNER AND BREADCRUMBS -->
<section id="page-banner">
		<div class="single-page-title-area overlay" data-background="{% static 'assets/img/bg/slide1.jpg' %}">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="single-page-title">
							<h2>Freequently Asked Question</h2>
							<p>What do you want to know about digital currency or {{site_name}},we are here for you</p>
						</div>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
		<div class="single-page-title-area-bottom">
			<div class="auto-container">
				<div class="row">
					<div class="col-12 text-center">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item active">FAQ</li>
						</ol>
					</div>
				</div>
				<!-- end row-->
			</div>
		</div>
	</section>
    <!-- END PAGE BANNER AND BREADCRUMBS -->
    
    <!-- START FAQ SECTION -->
    <section id="faqpage" class="section-padding" style="padding-top:20px">
            <div class="container">	 
                <div class="row mb-5">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 pr-lg-5 pr-md-5 pr-sm-0 pr-0 mb-lg-0 mb-md-0 mb-sm-5 mb-5 faq-page-into">
            
                        <h3>support like no other</span></h3>
                        <p>we have provided answers to some questions you might need to get you going</p>
                        <ul>
                            <li><i class="icofont icofont-ui-press"></i> You can always contact us to learn more if your question is not contained here,we would always be glad to assist</li>
                          
                        </ul>
                        <!--a href="#" class="faq-page-into-btn mt-4">Learn More <i class="icofont icofont-caret-right"></i></a-->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="faq-page-into-features mb-5">
                            <div class="faq-page-into-features-icon">
                                <i class="icofont icofont-brand-designfloat"></i>
                            </div>
                            <div class="faq-page-into-features-text">
                                <h5>Help On the go</h5>
                                <p>We would never leave you stranded,contact us for any further question you might have.we are always here for you</p>
                                <!--a href="#">Read More<i class="icofont icofont-caret-right"></i></a-->
                            </div>
                        </div>
                       
                    </div>
                    <!-- end col -->					
                </div>
                <!-- end row -->
                <hr>
                <div class="row" style="padding-top:0px">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <h5>your answer's</h5>
                            <h3>Frequently <span>Question</span></h3>
                        </div>
                    </div>
                </div>
                <!-- end section title -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-4 mb-sm-4 mb-4">
                        <!--Accordion Box-->
                        <ul class="accordion-box">
                            <li class="accordion block">
                                <div class="acc-btn active">
                                    <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How to buy & sell Cryptocurrencies</div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <ul>
                                                <li><i class="icofont icofont-ui-press"></i> Very soon we would be making it possible for you to buy viable coins through {{site_name}}</li>
                                                <li><i class="icofont icofont-ui-press"></i> But for now you can easily purchase any cryptocurrency from platforms such as binance,investments are made through our dedicated wwallet addresses.</li>
                                                <li><i class="icofont icofont-ui-press"></i> We can also assist you,so you can easily sell acquired tokens</li>
                                            </ul>
                                        </div>
                                    </div>
                            </li>
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How can i transfer my tokens ?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>you can easily transfer your acquired tokens by placing a withdrawal request,we send them to your  designated bitcoin wallet address. We pay in bitcoin.</p>
                                    </div>
                                </div>
                            </li>
    
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How can i trade with {{site_name}} ?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>Trading with us is very easy,just select a plan of your choice and watch your money grow</p>
                                    </div>
                                </div>
                            </li>
    
                           
    
                            <!--Block->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How can i contact with you?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!--End Accordion Box-->

                    </div>
                    <!-- end col -->
                    <div class="col-lg-6 col-md-6 col-12">
                        <!--Accordion Box-->
                        <ul class="accordion-box accordion-box2">
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>Can i re-invest ?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>You can easily re-invest once a current plan is due.</p>
                                    </div>
                                </div>
                            </li>
                           
                           
    
                            <!--Block-->
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><span class="icon icofont icofont-ui-press"></span></div>How can i contact with {{site_name}} ?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>We respond to emails very quickly,feel free to drop an email.<a href="{% url 'contact' %}">here</a>,we are always eager to respond quickly</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!--End Accordion Box-->
                    </div>
                    <!-- end col -->				
                </div>
                <hr>	 
            </div>
            <!--- END CONTAINER -->
        </section>
        <!-- END FAQ SECTION -->

{% endblock %}

