{% extends 'dashboard-base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}

<div class="main-content" >
        <section class="section">
          <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                   <div class="card" id="form-div">

                        <form id="enter-pin-form" class="needs-validation" novalidate="" method="POST" action="">
                            {% csrf_token %}
                        <div class="card-header">
                            <h4>Enter Your Transaction Pin To Proceed</h4>
                        </div>
                        <p style="padding-left:30px">
                            {% if transact.country %}
                            You are transferring <b>{{transact.currency.symbol}}{{transact.amount}}</b> to <b>{{transact.account_name}}</b><br>
                            account Number : <b>{{transact.account_number}}</b><br>
                            bank : <b>{{transact.bank_name}}</b> <br>
                            country : <b>{{transact.country}}</b>

                            {% else %}
                            You are transferring <b>{{transact.currency.symbol}}{{transact.amount}}</b> to <b>{{transact.receiver}}</b> with account Number <b>{{transact.receiver.account_number}}</b>
                            {% endif %}
                        </p>
                            <div class="card-body">
                                <p id="pin-form-error"><b></b></p>
                            {{form|crispy}}
                        </div>
                        <div class="card-footer text-right">
                            <button id="submit-button" type="submit" class="btn btn-primary">Proceed</button>
                            <a href="#0" id="loading-button" hidden="" class="btn disabled btn-primary btn-progress">Processing</a>
                            <a href="#0" hidden="" id="t-button"  class="btn disabled btn-primary">.</a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </section>
</div>            
{% endblock %}

{% block js %}
<script>

$("#form-div").on('submit','#enter-pin-form',function(event){
    event.preventDefault();
    $("#submit-button").attr('hidden','true')
    $("#loading-button").removeAttr('hidden')
    var form  = $(this);
    
    $.ajax({
        type:"POST",
        url : form.attr('action'),
        data : form.serialize(),
        dataType : 'json',
        success : function(data){
         if(data.success){
            $("#t-button").removeAttr('hidden')
            $("#loading-button").attr('hidden','true')
            $("#t-button").html('Complete !')
           
            $("#pop-up-modal-title").html('<b>Successful</b>')
            $(".pop-up-modal-body center img").removeAttr('hidden')
            $(".pop-up-modal-body p").html(data.success)


            $("#globalmodal").modal("show");

         }

         else if(data.processing){
            $("#loading-button").attr('hidden','true')
            $("#submit-button").attr('hidden','true')
            $("#t-button").html('Pending!')
            $("#t-button").removeAttr('hidden')
            $("#pop-up-modal-title").html('<b>Processing</b>')
            //$(".pop-up-modal-body center img").removeAttr('hidden')
            $(".pop-up-modal-body p").html(data.processing)

            
            $("#globalmodal").modal("show");

         }
         else if(data.error){
            $("#loading-button").attr('hidden','true')
            $("#submit-button").removeAttr('hidden')
             $('#pin-form-error b').html(data.error)
         }
        }
    });
    return false;
});

</script>
{% endblock %}