{% extends 'dashboard-base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}

<div class="main-content" >
        <section class="section">
            
          <div class="section-body">
              
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                   <div class="card"  id="form-div">
                       
                        <h4 style="margin:10px;color:black;">Request Credit Card</h4>
                      
                          <h6 id="stat-form-error" style="margin:10px;color:red"><b></b></h6>
                      
                          <form id= "statement-form" action="" class="needs-validation" novalidate="" method="POST" action="">
                           
                            {% csrf_token %}
                        <div class="card-header">
                            <h4>Select your prefer card type anad model</h4>
                        </div>
                        <div class="card-body">
                            {{form|crispy}}
                        </div>
                        <div class="card-footer text-right">
                            <button id="proceed" class="btn btn-primary">Apply</button>
                        </div>
                        </form>
              
                    </div>
                </div>
            </div>
          </div>
        </section>
</div>            
{% endblock %}

{% block js %}
<script>
    $("#form-div").on('submit','#statement-form',function(event){
    event.preventDefault();
  
     $("#proceed").html("Processing...")

    var form  = $(this);
    
    $.ajax({
        type:"POST",
        url : form.attr('action'),
        data : form.serialize(),
        dataType : 'json',
        success : function(data){
         if(data.success){
            $("#proceed").html("Complete")
            $("#pop-up-modal-title").html('<b>Success</b>')
            $(".pop-up-modal-body p").html(data.success)
            $("#modal-pop-up-footer .btn btn-primary").removeAttr('hidden')
            $("#modal-pop-up-footer .btn btn-primary").html("Download/Print")
            $("#globalmodal").modal("show");

         }

       
         if(data.error){
            $("#proceed").html("Complete")
            $("#pop-up-modal-title").html('<b>Error</b>')
            $(".pop-up-modal-body p").html(data.error)
    
            $("#globalmodal").modal("show");
          
         }
         if(data.form_error){

            $('#stat-form-error b').html(data.form_error)
         }
        }
    });
    return false;
});

 
</script>

{% endblock %}