{% extends 'dashboard-base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block css %}
{% endblock %}
{% block content %}

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
            <div class="section-body">
                <div class="row mt-sm-4">
                    <div class="col-12 col-md-12 col-lg-12 col-12">
                        {% if not_eligible %}
                        <div class="card author-box">
                            <div class="card-body">
                                <div class="author-box-center">
                               
                                  <img style="width:100px;height:100px" alt="image" src="{% static 'dashboard/image/frown.jpeg' %}">

                                    <div class="clearfix"></div><br>
                                        <div class="author-box-name">
                                          OOps !
                                        </div>
                                        <div class="author-box-job" style="font-size:19px">
                                         You cant Withdraw What You dont have
                                        </div>
                                    </div>
                                <div class="text-center">
                                    <div class="author-box-description">
                                        <p>
                                           <button>Deposit</button>
                                        </p>
                                    </div>
                                </div>
               
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                    </div>        
             
            </div>
          </div>
        </section>
        </div>
        
        {% endblock %}

  {% block js %}
  <!-- General JS Scripts -->
  <script src="{% static 'dashboard/js/app.min.js' %}""></script>
  <!-- JS Libraies -->
  <script src="{% static 'dashboard/bundles/summernote/summernote-bs4.js' %}""></script>
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{% static 'dashboard/js/scripts.js' %}""></script>
  <!-- Custom JS File -->
  <script src="{% static 'dashboard/js/custom.js' %}""></script>
  {% endblock %}

